<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Légalisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addLegalisation()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>

    <ion-card *ngFor="let item of allDemande">
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3">
                <ion-avatar>
                  <img [src]="item.photo" />
                </ion-avatar>
            </ion-col>
            <ion-col size="1">

            </ion-col>
            <ion-col size="8">
                <ion-label><b>Type doc :</b> {{ item.type_doc }}</ion-label><br>
                <ion-label><b>Nombre Copie  :</b>{{ item.nbrCopie }}</ion-label><br>
                <ion-label><b>Statut :</b>{{ item.statut }}</ion-label><br>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
