<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Professionnel de Loi</ion-title>
    <ion-icon slot="end" name="more" (click)="popovertypeHome($event)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-label><b>Nom Cabinet : </b></ion-label>
            </ion-col>
            <ion-col size="6">
                <ion-label>Droit Plus</ion-label>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label><b>Adresse : </b></ion-label>
            </ion-col>
            <ion-col size="6">
                <ion-label>Rue de droite</ion-label>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label><b>Téléphone : </b></ion-label>
            </ion-col>
            <ion-col size="6">
                <ion-label>(+229) 66 37 88 88</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label><b>Spécialité : </b></ion-label>
            </ion-col>
            <ion-col size="6">
                <ion-label>Meutre</ion-label>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
